{% extends "base.html" %}

{% block head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<link type="text/css" rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<script src='https://cdnjs.cloudflare.com/ajax/libs/typed.js/1.1.1/typed.min.js'></script>

<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename = 'css/home.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename = 'js/home.js') }}"></script>
{% endblock %}

{% block body %}
<div class="container">
    <div class="wrapper scroll-wrapper">
            <section id="imagen">
                <div id="terminal-container">
                    <div class="terminal">
                        <img src="https://scontent.fgua5-1.fna.fbcdn.net/v/t1.0-9/67237829_2399609296771946_1296527343921135616_n.jpg?_nc_cat=110&_nc_oc=AQn-QA1hU2HoxCNkxSzoS6ij-JcULoBEJx3YryF5p40B82HloYdkIys6Kj3a5x9sajo&_nc_ht=scontent.fgua5-1.fna&oh=74ffd3bb42dd285af130029bc1cbd866&oe=5E37D4AB"
            width="400" height="550">
                    </div>
                </div>
            </section>
        </div>


    <div class="wrapper scroll-wrapper">
        <div class="top-text">

            <p class="text-title desktop-view"> {{data['myname']}}</p>
            <p class="text-title desktop-view">{{data['lastname']}}</p>
            <p class="text-title mobile-view">{{data['myname']}} {{data['lastname']}}</p>

            <div>
                <a target="_blank" href="https://github.com/abnerxch">
                    <img class="title-logo" src="static/images/github.svg">
                </a>
                <a target="_blank" href="https://www.linkedin.com/in/abner-xocop-chacach/">
                    <img class="title-logo" src="static/images/linkedin-logo.svg">
                </a>
            </div>
        </div>
        <div class="middle-text">

            <p class="text-content">Tengo {{data['age']}} años de edad.</p>

            <p class="text-content">Actualmente me encuentro {{data['status']}}.
            </p>

            <p class="text-content">Mi correo electrónico es {{data['email']}}, generalmente respondo rápido a
            cualquier correo.</p>

            <p class="text-content">Mi casa está ubicada en {{data['address']}} </p>

            <p class="text-content">Soy {{data['nationality']}} </p>

            <p class="text-content">Soy originario de San Juan Comalapa, como obtuve la beca del programa ITA,
            me mudé a la ciudad capital, porque la distancia a mi municipio es de 80 kilómetros. Me gusta mucho
            estudiar en la Marro porque tengo la oportunidad de tener muy buenos amigos, conocer personas
            extraordinarias y tener a profesores a quienes les encanta su profesión.</p>

            <p class="text-content">Soy católico y hace poco escribí para una revista llamada <a href="https://focus.cathopic.com/">Focus by Cathopic</a>
            un artículo que llamé <a href="https://focus.cathopic.com/vida-interior/a-jesus-se-llega-por-maria/">A Jesús se llega por María</a>.</p>

            <p class="text-content">Me gusta mucho escuchar la música en audífonos porque así evito un poco el ruido exterior,
            aunque también disfruto mucho de escuchar la naturaleza. Me gustan muchos artistas, que a veces solo escucho una
            o dos canciones de ellos y luego los vuelvo a escuchar hasta un buen tiempo después. Mi plataforma favorita para escuchar
            música es <a href="https://www.spotify.com/gt/">Spotify</a>, porque si se nota mucho la calidad del audio
            y porque puedo escuchar los nuevos álbumes en cuanto los sacan.</p>

            <p class="text-content">Puedes visitar mi perfil profesional de <a href="http://in.linkedin.com/in/bhardwajrish/">LinkedIn</a>,
                o enviarme correo <a href="mailto:axocop@ufm.edu?Subject=Hello%20Abner%20-from-website" target="_top">aquí</a>.
            </p>

            <p class="text-content">¡Estamos en contacto!</p>

            <p class="text-content">{{data['myname']}} {{data['lastname']}}</p>

            <p class="text-content"><a href="experiencia">Para más información sobre mí, lee mi experiencia.</a></p>

            <br>
        </div>
    </div>
</div>
{% endblock %}